html {
  width: 100%;
}
.md-content {
  width: 800px;  
  margin: auto auto;     
  flex-grow: 0;
  line-height: 1.75rem;
  text-justify:distribute;
}
.md-typeset h2 {
  font-weight: 800;
  font-size: xx-large;
  color: #0e0e0e;
}
.md-typeset h1 {
  font-size: xxx-large;
  font-weight: 800;
  color: #0e0e0e;
  margin-bottom: 30px;
}

.md-typeset p,ul {
  font-size: 15px;
  line-height: 2;
}

[data-md-color-scheme="slate"]{
  --md-default-fg-color: white;
}
[data-md-color-scheme="slate"] strong {
  color: #00BCFF;
}

[data-md-color-scheme="slate"] code {
  color: #00BCFF;
}
[data-md-color-scheme="default"] code {
  color: #00BCFF;
}

[data-md-color-scheme="slate"]{
  --md-default-bg-color : #030712;
}

[data-md-color-scheme="slate"] .md-typeset h1 {
  font-weight: 800;
  color: #7D88EC;
}
[data-md-color-scheme="slate"] .md-typeset h2 {
  font-weight: 800;
  color: #7D88EC;
}

[data-md-color-scheme="slate"] .md-typeset h3 {
  font-weight: 800;
  color: #7D88EC;
}

[data-md-color-scheme="slate"] .md-header {
  background-color: #030712;
}

[data-md-color-scheme="slate"] .md-main {
  background-color: #030712;
}

[data-md-color-scheme="slate"] .md-tabs {
  background-color: #030712;
}

[data-md-color-scheme="slate"] .md-sidebar md-sidebar--primary {
  background-color: #030712;
}

[data-md-color-scheme="slate"] .md-typeset h4 {
  font-weight: 800;
  color: #7D88EC;
}
[data-md-color-scheme="slate"] .md-footer-meta{
  background-color: #030712;
}


.md-search__form {
  border-radius: 30px;
}

